In [20]:
import pandas as pd

In [21]:
q1 = pd.DataFrame([['1,000'],['2,000'],['3,000'],['4,000']],
                     columns=['예산'],
                     index=['창원시 A','창원시 B','창원시 C','창원시 D'])

q2 = pd.DataFrame([['1100',],['2200'],['4400'],['3300']],
                     columns=['예산(만원)'],
                     index=['A','B','D','C'])

print(q1)
print('\n')
print(q2)

          예산
창원시 A  1,000
창원시 B  2,000
창원시 C  3,000
창원시 D  4,000


  예산(만원)
A   1100
B   2200
D   4400
C   3300

`-` q1의 '예산'열의 자료형을 float로 바꾸어라!

In [22]:
q1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 창원시 A to 창원시 D
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   예산      4 non-null      object
dtypes: object(1)
memory usage: 64.0+ bytes

`-` 해답

In [23]:
int_y = []
for i in range(len(q1)):
    int_y.append(int(q1.예산.iloc[i][0])*1000)

int_y = list(map(float, int_y))
q1.예산 = int_y
print(q1)

           예산
창원시 A  1000.0
창원시 B  2000.0
창원시 C  3000.0
창원시 D  4000.0

In [24]:
q1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 창원시 A to 창원시 D
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   예산      4 non-null      float64
dtypes: float64(1)
memory usage: 64.0+ bytes

#### `문제` 이 표를 만들어라
    
 |index | 예산 | 예산(만원)|
 | ------ | ------ |-------|
 | A |	1000	|1100|
 | B |	2000	|2200|
 | C |	3000	|3300|
 | D |	4000	|4400|

In [25]:
print(q1, '\n', q2)

           예산
창원시 A  1000.0
창원시 B  2000.0
창원시 C  3000.0
창원시 D  4000.0
   예산(만원)
A   1100
B   2200
D   4400
C   3300

In [36]:
a = ['A','B','C','D']
q1.index = a
q2 = q2.sort_values(by=['예산(만원)'], axis=0)

result = pd.concat([q1,q2], axis=1)
result

       예산 예산(만원)
A  1000.0   1100
B  2000.0   2200
C  3000.0   3300
D  4000.0   4400